  <!--<form #forma='ngForm' (ngSubmit)="guardar(forma)" #forma="ngForm">-->
  	<nav aria-label="breadcrumb" class="shadow p-0 mb-5 bg-white rounded" >
		  <ol class="breadcrumb " style="background-color: white">
		    <li class="breadcrumb-item"><a [routerLink]="['../Perfil']">Perfil</a></li>
		    <li class="breadcrumb-item active" aria-current="page">Horario Variable</li>
		  </ol>
    </nav>


  	<div class="container-fluid" style="margin-top:50px">
			  	<div class="row">
			  		<div class="col-sm-2">
					  			<div class="alert alert-dark" role="alert">
								  <h4 class="alert-heading">Horario Variable</h4>
								  <p>Desde éste formulario podrás generar los turnos para aquellos trabajadores que tienen horario variable mes a mes y/o entre sus turnos jornadas durante la noche.
								  Recuerda dejar en Vacío la sección que no tenga horario.</p>
								  <hr>
								  <p class="mb-0"><strong>Recuerda que al terminar el horario se liberará y se enviará a tu trabajador automáticamente.</strong>.</p>
								</div>



								<div class="card" >
								  <ul class="list-group list-group-flush">
								    <li class="list-group-item">Nombre: Christopher </li>
								    <li class="list-group-item">Jornada: 45 Hrs. Sem.</li>
								    <li class="list-group-item">Cargo: Guardia</li>
								    <li class="list-group-item">No tiene sucursal</li>
								  </ul>
								</div>



							<div class="alert alert-warning alert-dismissible fade show" role="alert">
							  <strong>Atención!</strong> Si el mes termina con un movimiento entrada, déjalo escrito y realiza el otro mes para determinar la hora de salida.
							  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
							    <span aria-hidden="true">&times;</span>
							  </button>
							</div>


			  		</div>

			  		<div class="col-sm-6">
							<form *ngIf="booleanoDatosServidor"  #forma='ngForm' (ngSubmit)="guardar(forma)"> 

						        <div *ngFor="let dia of dias; let i = index" class="form-group">						           
						           <div class="form-group">
								    <label ><strong >Movimientos para el día {{dia}}  {{ i + 1}} / {{ mes }} / {{ anio }}</strong> </label>
								    	<input [(ngModel)]='hora_a[i]' type="time" class="form-control" name="hora_a_{{i+1}}">
								   </div>
								   
								     <div class="form-group">	
								    	<select [(ngModel)]='tipo_a[i]'  name="tipo_a_{{i+1}}" class="form-control">
								    		<option>Entrada</option>
								    		<option>Salida</option>
								    		<option>Vacío</option>
								    	</select> 
								    </div>

								     <div class="form-group">	
								        <input [(ngModel)]='hora_b[i]' type="time" class="form-control" name="hora_b_{{i+1}}">
								    </div>

								     <div class="form-group">		
								    	<select [(ngModel)]='tipo_b[i]'  name="tipo_b_{{i+1}}" class="form-control">
								    		<option>Entrada</option>
								    		<option>Salida</option>
								    		<option>Vacío</option>
								    	</select>  
								    </div>	
								    	<hr>
								    	<br>       

						        </div>
						        <input type="hidden" name="mes" [(ngModel)]="mes">
						        <input type="hidden" name="anio" [(ngModel)]="anio">

						        <input type="hidden" name="id_trabajador" [(ngModel)]="id">
						        		<button type="submit"  *ngIf="!booleanoBotonActualizar" class="btn btn-outline-primary">Guarda el horario</button>
								    	<button type="submit" *ngIf="booleanoBotonActualizar" class="btn btn-outline-warning">Actualizar el horario</button>
						    </form>

<!-- ****************************************************************************************************************************************+-->


						    	<form *ngIf="!booleanoDatosServidor"  #forma='ngForm' (ngSubmit)="guardar(forma)"> 

						        <div *ngFor="let dia of dias; let i = index" class="form-group">
						           
						           <div class="form-group">
								    <label ><strong >Movimientos para el día {{dia}}  {{ i + 1}} / {{ mes }} / {{ anio }}</strong> </label>


								    	<input ngModel  type="time" class="form-control" name="hora_a_{{i+1}}">
								   </div>
								   
								     <div class="form-group">	
								    	<select ngModel   name="tipo_a_{{i+1}}" class="form-control">
								    		<option>Entrada</option>
								    		<option>Salida</option>
								    		<option>Vacío</option>
								    	</select> 
								    </div>

								     <div class="form-group">	
								        <input ngModel type="time" class="form-control" name="hora_b_{{i+1}}">
								    </div>

								     <div class="form-group">		
								    	<select ngModel   name="tipo_b_{{i+1}}" class="form-control">
								    		<option>Entrada</option>
								    		<option>Salida</option>
								    		<option>Vacío</option>
								    	</select>  
								    </div>	
								    	<hr>
								    	<br>       
						        </div>
						        <input type="hidden" name="mes" [(ngModel)]="mes">
						        <input type="hidden" name="anio" [(ngModel)]="anio">

						        <input type="hidden" name="id_trabajador" [(ngModel)]="id">

						        		<button type="submit"  *ngIf="!booleanoBotonActualizar" class="btn btn-outline-primary">Guarda el horario</button>
								    	<button type="submit" *ngIf="booleanoBotonActualizar" class="btn btn-outline-warning">Actualizar el horario</button>
						    </form>

						</div>
				    <div class="col-sm-4">
				    	<br>
				    	<hr>
				    		<div class="card m-5">
								  <div class="card-header " >
								    Meses
								  </div>
								  <div class="card-body">
								    <blockquote class="blockquote mb-0">
								      <p>Selecciona el mes a configurar en su asistencia:</p>
								      			<div class="form-group">		
								     				<select [(ngModel)]="mesIntermedio"  name="MesSelect" class="form-control">
								    					<option>1</option>
								    					<option>2</option>
								    					<option>3</option>
								    					<option>4</option>
								    					<option>5</option>
								    					<option>6</option>
								    					<option>7</option>
								    					<option>8</option>
								    					<option>9</option>
								    					<option>10</option>
								    					<option>11</option>
								    					<option>12</option>
								    				</select>  
								    			</div>	

 									   <p>Selecciona el Año:</p>
								    				<div class="form-group">		
								     				<select [(ngModel)]="anioIntermedio"  name="AnioSelect" class="form-control">
								    					<option>2018</option>
								    					<option>2019</option>
								    					<option>2020</option>
								    					<option>2021</option>
								    					
								    				</select>  
								    			</div>	

								    			<button (click)="ActualizarMesEnCurso()"  class="btn btn-outline-primary">Cambiar</button>
		

								    <!--  <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>-->
								    </blockquote>
								  </div>
							</div>
				    </div>
			</div><!-- Fin Row -->
	</div>