<div class="card text-center">

  <div class="card-header">

    <ul class="nav nav-tabs card-header-tabs">
		      <li class="nav-item">
		        <a class="nav-link" routerLinkActive="active" [routerLink]="['./ReporteDiarioAsistencia/']">Reporte asistencia diario</a>
		      </li>
		     
		      <li class="nav-item">
		        <a class="nav-link" routerLinkActive="active" [routerLink]="['./ReporteMensualAsistencia/']">Reporte mensual</a>
		      </li>

		      <li class="nav-item">
		        <a class="nav-link" routerLinkActive="active" [routerLink]="['./Repasistenciareprobado/']">Reporte Reprobados</a>
		      </li>
		     

		      <li class="nav-item">
		        <a class="nav-link" routerLinkActive="active" [routerLink]="['./Repasistenciaxtrabajador/']">Reporte Por Trabajador</a>
		      </li>


		      <li class="nav-item">
		        <a class="nav-link" routerLinkActive="active" [routerLink]="['./Repviaticos/']">Reporte Viáticos</a>
		      </li>

		      <li class="nav-item">
		        <a class="nav-link" routerLinkActive="active" [routerLink]="['./Repofflinemensual/']">Reporte Offline</a>
		      </li>

		      <li class="nav-item">
		        <a class="nav-link" routerLinkActive="active" [routerLink]="['./Represumenmensual/']">Libro Asistencia</a>
		      </li>

		      <li class="nav-item">
		     <!--   <a class="nav-link disabled" href="#">Disabled</a>-->
		      </li>
    </ul>
  </div>
  <div class="card-body">
		<router-outlet></router-outlet>
  </div>

</div>