      <nav aria-label="breadcrumb" class="shadow p-0 mb-5 bg-white rounded" >
          <ol class="breadcrumb " style="background-color: white">
            <li class="breadcrumb-item"><a [routerLink]="['../']">Perfil</a></li>
            <li class="breadcrumb-item active" aria-current="page">Visualización Documentación</li>

          </ol>
    </nav>
<body style="margin:50px;">

    <app-titulo titulo="Visualización de documentos" subtitulo="Visualiza y exporta los documentos generador en tu empresa." ></app-titulo>

<div class="table-responsive-sm">
<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Fecha Emisión</th>
      <th scope="col">Documento</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Rut</th>

    </tr>
  </thead>
  <tbody>
	    <tr *ngFor="let item of resultData" >
	      <th scope="row">{{item.titulo}}</th>
	      <td>{{item.fecha_emision}}</td>
	      <td><button class="btn btn-outline-primary" (click)="visualizarPDF(item)" >Visualizar</button></td>
        <th>{{item.nombre}}</th>
        <th>{{item.apellido}}</th>
        <th>{{item.rut}}</th>
	    </tr>
  </tbody>
</table>
</div>

 </body>

                <ngx-loading style="height:2000px !important;" [show]="loading" [config]="{ backdropBorderRadius: '3px', fullScreenBackdrop:'true' }" [template]="customLoadingTemplate"></ngx-loading> 
              <ng-template  style="height:2000px !important;"  #customLoadingTemplate></ng-template>