<app-navbar></app-navbar>
      <nav aria-label="breadcrumb" class="shadow p-0 mb-5 bg-white rounded" >
          <ol class="breadcrumb " style="background-color: white">
            <li class="breadcrumb-item"><a [routerLink]="['../Home']">Inicio</a></li>
            <li class="breadcrumb-item active" aria-current="page">Planilla</li>
          </ol>
    </nav>
<div class="container" style="margin-top:50px;padding:35px;">

    <app-select-sucursales LabelSelect="Filtra trabajadores por sucursal: " (onSucursalSelected)="peo($event)"></app-select-sucursales>
    <br>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Busca un trabajador</span>
        </div>

        <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1" [(ngModel)]="name" #ctrl="ngModel">
    </div>

    <br>
      <div class="form-group">
        <label>Visualizar Postulantes</label>
        <select   (change)="onChangePostulantesOactivos($event)" [(ngModel)]="PostulantesOactivos" class="form-control">
          <option>Selecciona</option>
          
          <option>Postulante</option>
          <option>Activo</option>

        </select>
      </div>


    <br>

    <button (click)="LimpiarFiltros()" class="btn btn-outline-danger btn-block">Limpiar Filtros</button>

    <br>
    <hr>
    <!-- <div class="input-group mb-3 row justify-content-center"><button type="button" class="btn btn-outline-primary">Buscar</button></div>
     <p>Value: {{ name }}</p> <p>Valid: {{ ctrl.dirty }}</p>
   -->

    <table class="table table-hover table-responsive-lg">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Puesto</th>
                <th scope="col">Isapre</th>
                <th scope="col">Acción</th>
            </tr>
        </thead>

        <tbody *ngIf="ctrl.dirty == false || name.length == 0">

            <tr *ngFor="let empleados of empleados">

                <th scope="row" style="cursor:pointer">{{ empleados.nombre }}</th>
                <td>{{ empleados.apellido }}</td>
                <td>{{ empleados.puesto }}</td>
                <td>{{ empleados.isapre }}</td>
                <td><button (click)="ir(empleados)" class="btn btn-outline-primary">Revisar</button></td>
            </tr>

        </tbody>

        <tbody *ngIf="ctrl.dirty == true && name.length > 0">

            <tr *ngFor="let empleados of empleados">

                <th *ngIf="empleados.nombre.toLowerCase().search(name.toLowerCase()) >= 0 || empleados.apellido.toLowerCase().search(name.toLowerCase()) >= 0" scope="row">{{ empleados.nombre }}</th>
                <td *ngIf="empleados.nombre.toLowerCase().search(name.toLowerCase()) >= 0 || empleados.apellido.toLowerCase().search(name.toLowerCase()) >= 0">{{ empleados.apellido }}</td>
                <td *ngIf="empleados.nombre.toLowerCase().search(name.toLowerCase()) >= 0 || empleados.apellido.toLowerCase().search(name.toLowerCase()) >= 0">{{ empleados.puesto }}</td>
                <td *ngIf="empleados.nombre.toLowerCase().search(name.toLowerCase()) >= 0 || empleados.apellido.toLowerCase().search(name.toLowerCase()) >= 0">{{ empleados.isapre }}</td>
                <td *ngIf="empleados.nombre.toLowerCase().search(name.toLowerCase()) >= 0 || empleados.apellido.toLowerCase().search(name.toLowerCase()) >= 0"><button (click)="ir(empleados)" class="btn btn-outline-primary">Revisar</button></td>
            </tr>
        </tbody>
    </table>
</div>
              <ngx-loading style="height:2000px !important;" [show]="loading" [config]="{ backdropBorderRadius: '3px', fullScreenBackdrop:'true' }" [template]="customLoadingTemplate"></ngx-loading> 
              <ng-template  style="height:2000px !important;"  #customLoadingTemplate></ng-template>