      <nav aria-label="breadcrumb" class="shadow p-0 mb-5 bg-white rounded" >
          <ol class="breadcrumb " style="background-color: white">
            <li class="breadcrumb-item"><a [routerLink]="['../']">Perfil</a></li>
            <li class="breadcrumb-item active" aria-current="page">Horario</li>
          </ol>
    </nav>
    <app-titulo titulo="Horarios por sucursal" [subtitulo]="subtitulo" ></app-titulo>
<app-crud-estandar
 [array_mandante]="array_horarios"
 [ruta_get]="ruta_get"
 [ruta_update]="ruta_update"
 [ruta_delete]="ruta_delete"
 [ruta_add]="ruta_add"
 ></app-crud-estandar>